<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1,user-scalable=no"/>
    <title>ArcGIS JSAPI 4.4 TypeScript Demo</title>
    <style>
        html,
        body,
        #map {
            padding: 0;
            margin: 0;
            height: 100%;
            width: 100%;
        }
    </style>
    <link rel="stylesheet" href="http://localhost:8080/arcgis_js_api/3.21/3.21/esri/css/esri.css">
    <script>
        var locationPath = location.pathname.replace(/\/[^\/]+$/, "");
        var rootPath=locationPath.substr(0,locationPath.substr(1).indexOf("/")+1);
        alert(rootPath);
        window.dojoConfig = {
            deps:["js/main/main"],
            packages: [
                {
                    name: "js",
                    location: rootPath+"/js"
                }
            ]
        };

    </script>
    <script src="http://localhost:8080/arcgis_js_api/3.21/3.21/init.js"></script>
</head>
<body>
<div id="map"></div>

</body>
</html>